<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>

<label class="btn btn-default">
  <input type="file" id="campoSelect" (change)="selectFile($event)">
</label>
<div

id="descriptionsFile"
style='display: none'>

</div>

<div
class="alert alert-danger" role="alert"
id="msgErro"
style='display: none'>
Aruivo invalido, pois passa o tamanho permitido.
</div>
<br />
<button id="bt" class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()" style=display:none>ENVIAR ARQUIVO</button>
